.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
docs
node_modules
# !node_modules/json-schema-to-typescript
# !node_modules/cacheable-request
# !node_modules/got
